body {
	background-color: #f7f7f2;
}

.home-page {
	margin-top: 60px;
}
.row {
	height: 30rem;
}
.welcome {
	height: 95%;
	background-color: #ffae91;
}
.welcome-paragraph {
	line-height: 2.5;
	font-size: 20px;
	font-weight: 700;

}
.navbar {
	background-color: #070756;
}

.first-row {
	border-bottom: 2px solid #070756;
}

.active {
	a {
		background-color: #03033a;
	}
}

.navbar-brand {
	color: #f7f7f2;

}

.navbar-nav {
	li {
		a {
			color: #f7f7f2;
		}
	}
}